.header {
    padding-right:5%;
    padding-left:5%;
    color:white;
    background-color: #1F2937;
    font-size:24px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
}

.hero {
    margin-top:0;
    margin-bottom:0;
    
}
.secondary{
    margin-top:2%;
    margin-bottom:2%;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
.link {
    font-size: 16px;
    display:flex;
    margin-right: 10px;
    margin-top:7%;
}

.links {
    display:flex;
    justify-self: right;
    justify-content: center;
    text-align: center;
}



.body1{
    color:white;
    background-color: #1F2937;
    padding:5%;
    display:flex;
}

.left {
    flex-direction: column;
    margin-right: auto;
    
}

.left text {
   align-items: center;     
}
.right{
    display:flex;
    align-items: center;
}
.hero {
    padding-top:0;
    font-size: 48px;
    font-weight: 800;
}

.secondary {
    font-size:18px;
}
.body1 button{
    border-color:#3882F6;
    border-radius:8px;
    background-color: #3882F6;
    width:25%;
    color: white;
    justify-self: left;
}
img {
    height: 200px;
    width:auto;
}



.info {
    font-size: 36px;
    font-weight: 800;
    color:#1F2937;
    display:flex;
    justify-content: center;
}

.pic {
    text-align: center;
}

.images {
    padding-left:5%;
    padding-right:5%;
    display:flex;
    justify-content: space-between;
}

.body3 {
    background-color: #E5E7EB;
    padding: 15%;
}

.author {
    margin-top:0;
    text-align: right;
    font-weight: bold;
}
.quote {
    font-size: 36px;
    display:flex;
    justify-content: center;
}

.body4 {
    background-color:white;
    display:flex;
    justify-content: center;
}

.call {
    margin:5%;
    border-radius: 20px;
    width:80%;
    padding:6%;
    background-color: #3882F6;
    display:flex;
    align-items: center;
}

.call button {
    border-color:white;
    border-radius:8px;
    background-color: #3882F6;
    color: white;
    width: 180%;
}

.text {
    color:white;
    display:flex;
    flex-direction: column;
    margin-right:auto;
}

.text p {
    margin:0;
}



.footer {
    padding:3%;
    color:white;
    text-align: center;
    background-color: #1F2937;
}